<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="SERVICE_NAME">transfer-service</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level: %msg%n"/>
        </Console>
        <Kafka name="Kafka" topic="bank-logs">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [${SERVICE_NAME}] [%X{traceId:-},%X{spanId:-}] %-5level: %msg%n"/>
            <Property name="bootstrap.servers">kafka:9092</Property>
        </Kafka>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Kafka"/>
        </Root>
        <Logger name="org.apache.kafka" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>